/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 2143px}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #121e9b;
  height: 100%;
}
    
/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {height: auto;} 
}
.avatar {
    vertical-align: middle;
    width: 66%;
    height: 100%;
    border-radius: 50%;
    margin-left: 57px;
  }
  
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-name {
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }
#cardhead header{
    border-radius: 3px;
    background-color: #999;
    /* padding: 15px; */
    margin-top: -20px;
    margin-right: 15px;
    float: left;
    width:185px;
}
.btn{
    background-color: transparent;
    color: #6464e4;
}