.socialIcons{
    display: block;
  }
  ul.socialIcons {
      padding: 0;
      text-align: center;
  }
  .socialIcons li {
      background: yellow;
      list-style: none;
      display: inline-block;
      margin: 15px;
      border-radius: 2em;
      overflow:hidden;
  }
  .socialIcons li a {
      display: block;
      padding: .5em;
      max-width: 2.3em;
      min-width: 2.3em;
      height: 2.3em;
      white-space: nowrap;
      line-height: 1.5em;
      transition:.5s;
      text-decoration: none;
      font-family: arial;
      color: #fff;
  }
  .socialIcons li i {
      margin-right:.5em;
  }
  .socialIcons li:hover a {
      max-width:200px;
      padding-right:1em;
  }
  .socialIcons .facebook {
      background: #3b5998;
      box-shadow: 0 0 16px #3b5998;
  }
  .socialIcons .twitter {
      background: #00aced;
      box-shadow: 0 0 16px #00aced;
  }
  .socialIcons .instagram {
      background: #cd486b;
      box-shadow: 0 0 16px #cd486b;
  }
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 2143px}
  
  /* Set gray background color and 100% height */
  .sidenav {
    background-color: #121e9b;
    height: 100%;
  }
      
  /* On small screens, set height to 'auto' for the grid */
  @media screen and (max-width: 767px) {
    .row.content {height: auto;} 
  }
  section{
      background-color:white;
  }
  .dataplace section{
      background-color:transparent;
      height: 553px;
  }
  .slidesh{
      width: 100%;
  }
    .avatar {
      vertical-align: middle;
      width: 66%;
      height: 100%;
      border-radius: 50%;
      margin-left: 57px;
    }
    
    .profile-usertitle {
      text-align: center;
      margin-top: 20px;
    }
    
    .profile-usertitle-name {
      color: white;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 7px;
    }
  
    .aboutus-section {
      padding: 90px 0;
    }
    .aboutus-title {
      font-size: 30px;
      letter-spacing: 0;
      line-height: 32px;
      margin: 0 0 39px;
      padding: 0 0 11px;
      position: relative;
      text-transform: uppercase;
      color: #000;
    }
    /* .aboutus-title::after {
      background: blue none repeat scroll 0 0;
      bottom: 0;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      width: 54px;
    } */
    .aboutus-text {
      color: #606060;
      font-size: 16px;
      line-height: 22px;
      margin: 0 0 35px;
    }
    
    a:hover, a:active {
      color: blue;
      text-decoration: none;
      outline: 0;
    }
    .aboutus-more {
      border: 1px solid blue;
      border-radius: 25px;
      color: blue;
      display: inline-block;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0;
      padding: 7px 20px;
      text-transform: uppercase;
    }
    .feature .feature-box .iconset {
      background: #fff none repeat scroll 0 0;
      float: left;
      position: relative;
      width: 18%;
    }
    .feature .feature-box .iconset::after {
      background: blue none repeat scroll 0 0;
      content: "";
      height: 150%;
      left: 43%;
      position: absolute;
      top: 100%;
      width: 1px;
    }
    
    .feature .feature-box .feature-content h4 {
      color: #0f0f0f;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 22px;
      margin: 0 0 5px;
    }
    
    
    .feature .feature-box .feature-content {
      float: left;
      padding-left: 28px;
      width: 78%;
    }
    .feature .feature-box .feature-content h4 {
      color: #0f0f0f;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 22px;
      margin: 0 0 5px;
    }
    .feature .feature-box .feature-content p {
      color: #606060;
      font-size: 13px;
      line-height: 22px;
    }
    .icon {
      color : blue;
      padding:0px;
      font-size:40px;
      border: 1px solid blue;
      border-radius: 100px;
      color: blue;
      font-size: 28px;
      height: 70px;
      line-height: 70px;
      text-align: center;
      width: 70px;
      padding-top: 17px;
    }
  
    .column {
      float: left;
      width: 49.3%;
      margin-bottom: 16px;
      padding: 0 22px;
    }
    
    @media screen and (max-width: 650px) {
      .column {
        width: 100%;
        display: block;
      }
    }
    
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .container {
      padding: 0 16px;
    }
    
    .container::after, .row::after {
      content: "";
      clear: both;
      display: table;
    }
    
    .title {
      color: grey;
    }
    
    .button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #121e9b;
      text-align: center;
      cursor: pointer;
      width: 29%;
      margin-left: 45px;
    }
    
    .button:hover {
      background-color: #121e9b;
    }
    .btn{
      background-color: transparent;
      color: #6464e4;
  }