/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 2143px}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #121e9b;
  height: 100%;
}
    
/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {height: auto;} 
}
.avatar {
    vertical-align: middle;
    width: 66%;
    height: 100%;
    border-radius: 50%;
    margin-left: 57px;
  }
  
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-name {
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }

  

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: blue;
    text-align: center;
    cursor: pointer;
    /* width: 100%; */
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  .btn{
    background-color: transparent;
    color: #6464e4;
}