<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HCIMS | Appointments</title>
</head>
<body>
        <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-actions">
                  <button type="submit">Send</button>
                </div>
            </form>
</body>
</html>