{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doctor page</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'HCIMS/doctor.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="{% static 'HCIMS/main.js'%}"></script>
</head>
<body>
    <p>Patients i have treated</p>
    {% for i in history %}
    <div class="col-md-4">
        <div class="w3-card-4" id="cardhead">
            <header class="w3-container w3-blue">
            <a href="{% url 'pricing' %}" style="color:white;text-decoration:none;"><h1>Details</h1></a>
            </header>
            
            <div class="w3-container">
                <br>
                <p>Patient name : {{ i.patient_history }}</p>
                <br>
                <p>Date : {{ i.date }}</p>
                <br>
                <p>Time : {{ i.time }}</p>
                <br>
                <p>Treated By : {{ i.doctor }}</p>
                <br>
                <p>Tests Done : {{ i.tests }}</p>
                <br>
                <p>Drugs Prescribed : {{ i.drugs }}</p>
                <br>
                <a href="tel:{% for i in patient %}{{ i.phone_number}}{% endfor %}">CAll Patient</a><hr>
                <a href="sms:{% for i in patient %}{{ i.phone_number }}{% endfor %}">Text Patient</a>
                <br>
            </div>
            
            <footer class="w3-container">
                <hr>
            </footer>
        </div>
    </div>
    {% endfor %}
</body>
<footer>
    <script>
        AOS.init();
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</footer>
</html>