{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HCIMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'HCIMS/history.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="{% static 'HCIMS/main.js'%}"></script>
</head>
<body>
    <nav class="navbar navbar-inverse visible-xs">
        <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">HCIMS</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'home' %}">Dashboard</a></li>
                <li><a href="{% url 'history' %}">History</a></li>
                <li><a href="{% url 'pricing' %}">Pricing</a></li>
                <li><a href="{% url 'contact' %}">Appointments</a></li>
                <br><br>
                <li><a href="{% url 'logout' %}">Sign Out</a></li>
            </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" >
        <div class="row content">
            <div class="col-sm-3 sidenav hidden-xs" >
              <!-- SIDEBAR USERPIC -->
              <div class="profile-userpic" style="padding-top: 20px;">
                <a href="{% url 'profile' %}"><img src="{{ user.profile.image.url }}" alt="Userprofile" class="avatar"></a>
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                <a href="{% url 'profile' %}"><div class="profile-usertitle-name">
                        <h1>{{ user.username }}</h1>
                        </div></a>
                    </div> 
            <ul class="nav nav-pills nav-stacked">
                <li class="active" style="padding-top: 43px;"><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span>  Dashboard</a></li>
                <li><a href="{% url 'history' %}" style="padding-top: 50px;"><span class="glyphicon glyphicon-time"></span>  History</a></li>
                <li><a href="{% url 'pricing' %}" style="padding-top: 50px;"><span class="glyphicon glyphicon-stats"></span>  Pricing</a></li>
                <li><a href="{% url 'contact' %}" style="padding-top: 50px;"><span class="glyphicon glyphicon-bullhorn"></span>  Appointments</a></li>
                <br><br><br><br>
                <li><a href="{% url 'logout' %}" style="padding-top: 110px;"><span class="glyphicon glyphicon-log-out"></span>  Sign Out</a></li>
            </ul><br>
            </div>

            <div class="col-md-9">
                <div class="row" style="display:flex;">
                    <div class="col-md-6">
                    <!-- Search form  -->
                        <div class="md-form active-cyan-2 mb-3" style="width: 500px;padding-top: 15px;padding-bottom: 20px">
                            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a href=""><i class="fa fa-filter" style="font-size:36px;margin-top: 13px;float: right;color: blue;"></i></a>
                    </div>
                </div>
                <!-- <script> 
                        fetch("http://127.0.0.1:8000/api/doctor/?format=json")
                        .then(response => {
                            if (response.ok) {
                            return response.json();
                            }
                            throw response;
                        })
                        .then(data => {
                            console.log(data);
                            //do stuff with your data here
                            
                        })
                        .catch(error => console.log(error));</script> -->
                <h1>Recent Visits</h1>
                
                <div class="row" style="margin-top: 50px;">
                    {% for i in history_filter %}
                    <div class="col-md-4">
                        <div class="w3-card-4" id="cardhead">
                            <header class="w3-container w3-blue">
                            <a href="{% url 'pricing' %}" style="color:white;text-decoration:none;"><h1>Details</h1></a>
                            </header>
                            
                            <div class="w3-container">
                                <br>
                                <p>Date : {{ i.date }}</p>
                                <br>
                                <p>Time : {{ i.time }}</p>
                                <br>
                                <p>Treated By : {{ i.doctor }}</p>
                                <br>
                                <p>Tests Done : {{ i.tests }}</p>
                                <br>
                                <p>Drugs Prescribed : {{ i.drugs }}</p>
                                <br>
                                <p>Total Cost : {{ i.total_cost }} Ksh</p>
                                <br>
                                <br>
                                <a href="tel:{% for i in history_docfilter %}{{ i.phone_number }}{% endfor %}">CAll doctor</a><hr>
                                <a href="sms:{% for i in history_docfilter %}{{ i.phone_number }}{% endfor %}">Text Doctor</a>
                                <br>
                                <!-- {% for i in docdata %}
                                <p>{{ i.phone_number }}</p>
                                {% endfor %} -->
                            </div>
                            
                            <footer class="w3-container">
                                <hr>
                            </footer>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</body>
<footer>
    <script>
        AOS.init();
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</footer>
</html>