{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HCIMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'HCIMS/main.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="{% static 'HCIMS/main.js'%}"></script>
</head>
<body>
    <nav class="navbar navbar-inverse visible-xs">
        <div class="container-fluid">
            <div class="navbar-header" style="background-color: #060684;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">HCIMS</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'home' %}">Dashboard</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'Mypatients' %}">My Patients</a></li>
                {% else %}
                <p></p>
                {% endif %}
                <li><a href="{% url 'history' %}">History</a></li>
                <li><a href="{% url 'pricing' %}">Pricing</a></li>
                <li><a href="{% url 'contact' %}">Appointments</a></li>
                <br><br>
                <li><a href="{% url 'logout' %}">Sign Out</a></li>
            </ul>
            </div>
        </div>
    </nav>

    <section>
    <div class="container-fluid" >
        <div class="row content">
            <div class="col-sm-3 sidenav hidden-xs" >
              <!-- SIDEBAR USERPIC -->
				<div class="profile-userpic" style="padding-top: 20px;">
            <a href="{% url 'profile' %}"><img src="{{ user.profile.image.url }}" alt="Userprofile" class="avatar"></a>
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
            <a href="{% url 'profile' %}"><div class="profile-usertitle-name">
                    <h1>{{ user.username }}</h1>
					</div></a>
				</div> 
            <ul class="nav nav-pills nav-stacked">
                <li class="active" style="padding-top: 43px;"><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span>  Dashboard</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'Mypatients' %}" style="padding-top: 50px;"><span class="glyphicon glyphicon-time"></span>  My patients</a></li>
                {% else %}
                <p></p>
                {% endif %}
                <li><a href="{% url 'history' %}" style="padding-top: 50px;"><span class="glyphicon glyphicon-time"></span>  History</a></li>
                <li><a href="{% url 'pricing' %}" style="padding-top: 50px;"><span class="glyphicon glyphicon-stats"></span>  Pricing</a></li>
                <li><a href="{% url 'contact' %}" style="padding-top: 50px;"><span class="glyphicon glyphicon-bullhorn"></span>  Appointments</a></li>
                <br><br><br><br>
                <li><a href="{% url 'logout' %}" style="padding-top: 110px;"><span class="glyphicon glyphicon-log-out"></span>  Sign Out</a></li>
              </ul><br>
            </div>
            <!-- <br> -->
            
           <div class="col-md-9 dataplace" style="background-color:transparent;">
                <div class="row" >
                    <div class="col-md-12">
                        <ul class="socialIcons">
                            <li class="facebook"><a href="#"><i class="fa fa-fw fa-facebook"></i>Facebook</a></li> 
                            <li class="twitter"><a href="#"><i class="fa fa-fw fa-twitter"></i>Twitter</a></li> 
                            <li class="instagram"><a href="#"><i class="fa fa-fw fa-instagram"></i>Instagram</a></li> 
                        </ul>
                    </div>
                </div>
                <!-- <section>
                        <div class="slidesh">
                                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                  <!-- Indicators 
                                  <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                  </ol>
                              
                                  <!-- Wrapper for slides 
                                  <div class="carousel-inner">
                                    <!-- {% for i in data %}
                                    <div class="item active">
                                      <!-- <img src="{% static 'HCIMS/images/slide1.jpg'%}" alt="" style="width:100%;">
                                      <div class="carousel-caption">
                                        <h3>Image 1</h3> 
                                        <p>{{ i }}</p>
                                      </div>
                                    </div>
                                    {% endfor %} -->
                                    <!-- <div class="item">
                                      <img src="{% static 'HCIMS/images/slide2.jpg'%}" alt="" style="width:100%;">
                                      <div class="carousel-caption">
                                        <h3>Image 2</h3>
                                        <p>Thank you,</p>
                                      </div>
                                    </div>
                                  
                                    <div class="item">
                                      <img src="{% static 'HCIMS/images/slide3.png'%}" alt="" style="width:100%;">
                                      <div class="carousel-caption">
                                        <h3>Image 3</h3>
                                        <p>We love the Big Apple!</p>
                                      </div>
                                    </div> 
                                
                                  </div>
                              
                                  <!-- Left and right controls 
                                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    <span class="sr-only">Previous</span>
                                  </a>
                                  <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    <span class="sr-only">Next</span>
                                  </a>
                                </div>
                              </div>
                </section> -->
                <div id="fabout">
                        <div class="aboutus-section">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="aboutus">
                                                <h2 class="aboutus-title">About Us</h2>
                                                <p class="aboutus-text">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                                                <p class="aboutus-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem</p>
                                                <a class="aboutus-more" href="#">read more</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5" >
                                            <div class="feature">
                                                <div class="feature-box">
                                                    <div class="clearfix">
                                                        <div class="iconset">
                                                            <span class="glyphicon glyphicon-cog icon" aria-hidden="true"></span>
                                                        </div>
                                                        <div class="feature-content">
                                                            <h4>Work with heart</h4>
                                                            <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="feature-box">
                                                    <div class="clearfix">
                                                        <div class="iconset">
                                                            <span class="glyphicon glyphicon-cog icon"></span>
                                                        </div>
                                                        <div class="feature-content">
                                                            <h4>Reliable services</h4>
                                                            <p>Donec vitae sapien ut libero venenatis faucibu. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="feature-box">
                                                    <div class="clearfix">
                                                        <div class="iconset">
                                                            <span class="glyphicon glyphicon-cog icon"></span>
                                                        </div>
                                                        <div class="feature-content">
                                                            <h4>Great support</h4>
                                                            <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
                {% for i in doctor %}
                <div class="row" style="margin-top: 40px;">
                        <div class="column">
                          <div class="card">
                                <!-- {% static 'HCIMS/images/doc1.jpg'%} -->
                            <img src="{{ i.image.url }}" alt="{{ i.user }}" style="width:50%;margin-left: 100px;">
                            <div class="container">
                              <h2 style="padding-left: 155px;color: black;">{{ i.user }}</h2>
                              <p class="title" style="padding-left: 128px;">{{ i.specialization }}</p>
                              <!-- <p >Some text that describes me lorem ipsum ipsum lorem.</p>
                              <p>example@example.com</p> -->
                              <p><button class="button"><a href="tel:{{ i.phone_number }}" style="color: white;">CAll doctor</a></button></p><hr>
                              <p><button class="button"><a href="sms:{{ i.phone_number }}" style="color: white;">Text Doctor</button></p>
                            </div>
                          </div>
                        </div>
                </div>
                {% endfor %}
           </div>
      </div>
    </div>
    </section>
</body>
<footer>
    <script>$('.carousel').carousel()</script>
    <script>
        AOS.init();
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  </footer>
</html>