{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HCIMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'HCIMS/pricing.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="{% static 'HCIMS/main.js'%}"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script>
            window.onload = function() {
            
            var dataPoints = [];
            
            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "light2",
                title: {
                    text: "Total cost line chart"
                },
                axisY: {
                    title: "Cost",
                    titleFontSize: 24
                },
                data: [{
                    type: "spline",
                    yValueFormatString: "#,### Cost",
                    dataPoints: dataPoints
                }]
            });
            
            function addData(data) {
                for (var i = 0; i < data.length; i++) {
                    dataPoints.push({
                        x: new Date(data[i].date),
                        y: data[i].total_cost
                    });
                }
                chart.render();
            
            }
            
            $.getJSON("http://127.0.0.1:8000/api/history/?format=json", addData);
            
            }
            </script>
</head>
<body>
    <nav class="navbar navbar-inverse visible-xs">
        <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">HCIMS</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'home' %}">Dashboard</a></li>
                <li><a href="{% url 'history' %}">History</a></li>
                <li><a href="{% url 'pricing' %}">Pricing</a></li>
                <li><a href="{% url 'contact' %}">Appointments</a></li>
                <br><br>
                <li><a href="{% url 'logout' %}">Sign Out</a></li>
            </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" >
            <div class="row content">
                <div class="col-sm-3 sidenav hidden-xs" >
              <!-- SIDEBAR USERPIC -->
              <div class="profile-userpic" style="padding-top: 20px;">
                <a href="{% url 'profile' %}"><img src="{{ user.profile.image.url }}" alt="Userprofile" class="avatar"></a>
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                <a href="{% url 'profile' %}"><div class="profile-usertitle-name">
                        <h1>{{ user.username }}</h1>
                        </div></a>
                    </div> 
                <ul class="nav nav-pills nav-stacked">
                    <li class="active" style="padding-top: 43px;"><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span>  Dashboard</a></li>
                    <li><a href="{% url 'history' %}" style="padding-top: 50px;"><span class="glyphicon glyphicon-time"></span>  History</a></li>
                    <li><a href="{% url 'pricing' %}" style="padding-top: 50px;"><span class="glyphicon glyphicon-stats"></span>  Pricing</a></li>
                    <li><a href="{% url 'contact' %}" style="padding-top: 50px;"><span class="glyphicon glyphicon-bullhorn"></span>  Appointments</a></li>
                    <br><br><br><br>
                    <li><a href="{% url 'logout' %}" style="padding-top: 110px;"><span class="glyphicon glyphicon-log-out"></span>  Sign Out</a></li>
                </ul><br>
                </div>

                <div class="col-md-9">
                    <div class="date">
                        <h1 style="text-align:center;"></h1>
                        <br>
                        <br>
                    </div>
                    <div class="container" style="width:100%;">
                            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                            <!-- <script>
                            fetch("http://127.0.0.1:8000/api/history/?format=json")
                            .then(response => {
                                if (response.ok) {
                                return response.json();
                                }
                                throw response;
                            })
                            .then(data => {
                                console.log(data);
                                //do stuff with your data here
                                
                            })
                            .catch(error => console.log(error));</script> -->
                    </div>
                    <br><br><br><br>
                    
                    <div class="container" style="width:100%;">
                        <div class="row">
                            <div class="panel panel-primary filterable table-responsive">
                                <div class="panel-heading">
                                    <h3 class="panel-title" >PRICE BREAKDOWN</h3>
                                </div>
                                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search  by date..">
                                <table id="myTable">
                                  <tr class="header">
                                    <th style="width:20%;">Date</th>
                                    <th style="width:15%;">Time</th>
                                    <th style="width:10%;">Consultation</th>
                                    <th style="width:15%;">Drugs</th>
                                    <th style="width:20%;">Labs</th>
                                    <th style="width:30%;">Total Price</th>
                                  </tr>
                                  {% for i in price_filter %}
                                  <tr>
                                    <td>{{ i.date }}</td>
                                    <td>{{ i.time }}</td>
                                    <td>{{ i.consultation_cost }} Ksh</td>
                                    <td>{{ i.drugs_cost }} Ksh</td>
                                    <td>{{ i.labs_cost }} Ksh</td>
                                    <td>{{ i.total_cost }} Ksh</td>
                                  </tr>
                                  {% endfor %}
                                </table> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>
<footer>
    <script>
        function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }
        }
        }
    </script>
    <script>
        AOS.init();
    </script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</footer>
</html>