<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HCIMS | Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container" style="margin-top: 70px;">
        <h1>DOCTOR REGISTRATION</h1>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                        {{ error }}
                </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="id_username">Username</label>
                <input type="text" class="form-control" name="username" autofocus="" required="" id="id_username" placeholder="Username">
              </div>
              <div class="form-group col-md-6">
                <label for="id_email">Email</label>
                <input type="email" name="email" required="" id="id_email" class="form-control" id="inputPassword4" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <label for="id_password1">Password</label>
              <input type="password" name="password1" required="" id="id_password1" class="form-control" placeholder="password">
            </div>
            <div class="form-group">
              <label for="id_password2">Confirm Password</label>
              <input type="password" class="form-control" name="password2" required="" id="id_password2" placeholder="confirm password">
            <!-- <span class="helptext">Enter the same password as before, for verification.</span> -->
            </div>
    
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Agree to the terms and condition
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</body>
<footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    </footer>
</html>