{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HCIMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'HCIMS/login.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="{% static 'HCIMS/main.js'%}"></script>
</head>
<body>
        <div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="{% static 'HCIMS/images/hospital-logo.png'%}" alt="brand">
                        <h3>Welcome to</h3>
                        <h1>Hospital Int.</h1>
                        <p>"We treat GOD cures"</p>
                    </div>
                    <div class="col-md-9 register-right">
                                <h3 class="register-heading">Log In</h3>
                                <div class="row register-form">
                                    {% if form.errors %}
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                    {{ error }}
                                            </div>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}
                                <form method="POST">
                                    <div class="col-md-6">
                                        {% csrf_token %}
                                        <p>
                                            <label for="id_username">Username:</label> 
                                            <input type="text" name="username" autofocus="" required="" id="id_username" maxlength="254" style="color: black;">
                                        </p>
                                        <p>
                                            <label for="id_password">Password:</label> 
                                            <input type="password" name="password" required="" id="id_password" style="color: black;">
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="{% url 'home' %}"><input type="submit" class="btnLogin"  value="Log In"/></a>
                                    </div>
                                </form>
                                <div class="reg">
                                    <a href="{% url 'patientsignup' %}"><input type="submit" class="btnLogin"  value="Register"/></a>
                                </div>
                                </div>
                    </div>
                </div>

            </div>
</body>
<footer>
    <script>
        AOS.init();
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</footer>
</html>