{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HCIMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'HCIMS/profile.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="{% static 'HCIMS/main.js'%}"></script>
    <!-- <script src="https://unpkg.com/vue"></script> -->
</head>
<body>
    <nav class="navbar navbar-inverse visible-xs">
        <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">HCIMS</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'home' %}">Dashboard</a></li>
                <li><a href="{% url 'history' %}">History</a></li>
                <li><a href="{% url 'pricing' %}">Pricing</a></li>
                <li><a href="{% url 'contact' %}">Appointments</a></li>
                <br><br>
                <li><a href="{% url 'login' %}">Sign Out</a></li>
            </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" >
        <div class="row content">
            <div class="col-sm-3 sidenav hidden-xs" >
              <!-- SIDEBAR USERPIC -->
              <div class="profile-userpic" style="padding-top: 20px;">
                <a href="{% url 'profile' %}"><img src="{{ user.profile.image.url }}" alt="Userprofile" class="avatar"></a>
                
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                <a href="{% url 'profile' %}"><div class="profile-usertitle-name">
                        <p>{{ user.username }}</p>
                        </div></a>
                    </div> 
            <ul class="nav nav-pills nav-stacked">
                <li class="active" style="padding-top: 43px;"><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span>  Dashboard</a></li>
                <li><a href="{% url 'history' %}" style="padding-top: 50px;"><span class="glyphicon glyphicon-time"></span>  History</a></li>
                <li><a href="{% url 'pricing' %}" style="padding-top: 50px;"><span class="glyphicon glyphicon-stats"></span>  Pricing</a></li>
                <li><a href="{% url 'contact' %}" style="padding-top: 50px;"><span class="glyphicon glyphicon-bullhorn"></span>  Appointments</a></li>
                <br><br><br><br>
                <li><a href="{% url 'login' %}" style="padding-top: 110px;"><span class="glyphicon glyphicon-log-out"></span>  Sign Out</a></li>
            </ul><br>
            </div>
            <!-- <div id="app">
                    <p> [[ title ]] </p>
                    <ul>
                        {% for day in days %}
                        <li>
                            <h4> Day [[ day ]]</h4>
                        </li>
                        {% endfor %}
                    </ul>
                </div> -->
            <div class="col-md-9">
                <div class="row" style="margin-top: 108px;margin-left: 40px;">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="{{ user.profile.image.url }}" alt="Userprofile" style="width:100%">
                            <h1>{{ user.username }}</h1>
                            <div class="change">
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <p>
                                            <label for="id_username">Username:</label> 
                                            <input type="text" name="username" value="collins" required="" id="id_username" maxlength="150" style="color: white;">
                                            <!-- <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span> -->
                                        </p>
                                        <br>
                                        <br>
                                        <p>
                                            <label for="id_email">Email:</label> 
                                            <input type="email" name="email" value="collinshillary1@gmail.com" required="" id="id_email" style="color: white;">
                                        </p>
                                        <br>
                                        <br>
                                        <p>
                                            <!-- <label for="id_image">Image:</label> Currently: <a href="/media/profile_pics/doc4.jpg">profile_pics/doc4.jpg</a><br> -->
                                            Change Image:
                                            <input type="file" name="image" id="id_image" style="padding-left: 33px;padding-top: 23px;">
                                        </p>
                                        <br>
                                        <br>
                                        <button type="submit">Update</button>
                                    </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="w3-container">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#general">General</a></li>
                                <li><a data-toggle="tab" href="#medical">Medical</a></li>
                            </ul>
                            
                            {% for i in filter %}
                            <div class="tab-content">
                                <div id="general" class="tab-pane fade in active">
                                    <br>
                                        <p>Name : {{user.username}} </p>
                                        <br>
                                        <p>Email : {{i.email}} </p>
                                        <br>
                                        <p>Phone Number : {{i.phone_number}} </p>
                                        <br>
                                        <p>Gender : {{i.gender}}</p>
                                        <br>
                                        <p>Allergy to drugs : {{i.allergy}} </p>
                                        <br>
                                </div>
                                <div id="medical" class="tab-pane fade">
                                    <br>
                                        <p>Blood Type : {{i.blood_type}} </p>
                                        <br>
                                        <p>Height : {{i.height}} Meters </p>
                                        <br>
                                        <p>Weight : {{i.weight}} Kg </p>
                                        <br>
                                        <p>Blood Pressure Level: {{i.blood_pressure}} mm/hg </p>
                                        <br>
                                        <p>BMI levels: {{i.bmi_levels}} </p>
                                        <br>
                                        <p>Temperature: {{i.temperature}} C </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
        <!-- <script>
                new Vue({
                  delimiters: ['[[', ']]'],
                  el: '#app',
                  data: {
                    title: 'Welcome to My Journal'
                  }
                })
        </script> -->
    <script>
        AOS.init();
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</footer>
</html>