<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HCIMS | Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body style="background-color: rgb(22, 73, 182);">
    <div class="container" style="background-color:rgb(245, 247, 248);margin-top: 70px;">
        <form class="text-center border border-light p-5" method="POST">
            
        <p class="h1 mb-4">Sign up</p>
            <hr>
        <div class="form-row mb-4">
                {% csrf_token %}
                            <p>
                                <label for="id_username">Username:</label> 
                                <input type="text" name="username" autofocus="" required="" id="id_username" maxlength="150"> <br>
                                <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
                            </p>
                            <p>
                                <label for="id_email">Email:</label> 
                                <input type="email" name="email" required="" id="id_email">
                            </p>
                            <p>
                                <label for="id_password1">Password:</label> 
                                <input type="password" name="password1" required="" id="id_password1">
                                <span class="helptext"></span>
                            </p>
                                <ul style="list-style: none;">
                                    <li>Your password can't be too similar to your other personal information.</li>
                                    <li>Your password must contain at least 8 characters.</li>
                                    <li>Your password can't be a commonly used password.</li>
                                    <li>Your password can't be entirely numeric.</li>
                                </ul>
                            <p><label for="id_password2">Password confirmation:</label> 
                                <input type="password" name="password2" required="" id="id_password2"> <br>
                                <span class="helptext">Enter the same password as before, for verification.</span>
                            </p>
                <!-- {{ form.as_p }} -->
        <!-- Sign up button -->
        <button class="btn btn-info my-3 btn-block" type="submit">Sign Up</button>

        <hr>

        <!-- Terms of service -->
        <p>By clicking
            <em>Sign up</em> you agree to our
            <a href="" target="_blank">terms of service</a>

        </form>
    </div>
    
</body>
<footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    </footer>
</html>